@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500&display=swap");

/* global modifications */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, "Noto Sans", Arial, sans-serif;
  color: #434352;
}

.text-roboto {
  font-family: Roboto, sans-serif;
}

.text-play {
  font-family: Play, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body > * {
  margin-bottom: 5rem;
}

body > *:last-child {
  margin-bottom: 0;
}

.container {
  margin: 1rem auto;
  width: clamp(320px, 80%, 1280px);
}

.logo {
  font-family: Play, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #222;
}

.logo span {
  color: #4c4ff1;
}

.section-heading {
  margin: 0 auto;
  max-width: 600px;

  text-align: center;
}

.section-heading h2 {
  margin-bottom: 1rem;

  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;

  color: #21212e;
}

h3 {
  font-size: 1.5rem;
}

/* Navbar */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  padding: 0.5rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
}

nav a.download {
  color: #2a2a44;

  display: flex;
  height: 100%;
  padding: 0.5rem 1.5rem;
  border: 1px solid #222;
  border-radius: 0.5rem;

  font-weight: bold;
}

/* Hero section */
#hero {
  padding: 6rem 0 2rem;

  background-image: url("./assets/Hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .container {
  width: clamp(320px, 80%, 800px);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: center;
}

#hero img {
  width: 242px;
  height: 240px;
  margin: 0 auto;
}

#hero h1 {
  font-size: 3rem;
}

#hero p {
  width: 80%;
  margin: 0 auto;
}

#hero button {
  width: max-content;
  margin: 0 auto;
  padding: 0.75rem 1rem;

  background-color: #21212e;
  color: #fff;

  font-size: 1rem;
  font-weight: 500;

  border: none;
  outline: none;
  border-radius: 0.5rem;
}

/* Purpose */
#purpose {
  margin: 4rem auto;
}

#purpose .container {
  padding: 5rem;

  background-color: #fafafc;
  border-radius: 0.5rem;
}

#purpose ul {
  margin: 3rem auto 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  list-style-type: none;
}

#purpose .card {
  padding: 2rem;

  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0));
  border-radius: 0.5rem;
}

#purpose .card:nth-child(even) {
  flex-direction: row-reverse;

  background-image: linear-gradient(to left, #fff, rgba(0, 0, 0, 0));
}

#purpose .card h3 {
  margin-bottom: 1rem;

  font-family: Play, sans-serif;
  text-transform: capitalize;
}

#purpose .card button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  border: 1px solid #21212e;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
}

#purpose .card-image {
  width: min(40%, 240px);
}

#purpose .card img {
  width: 100%;
}

/* Inspiration */
#inspiration .video {
  margin: 3rem auto 0;
  padding: 1.5rem;
  width: min(100%, 1200px);

  border: 1px solid #babac9;
  border-radius: 2rem;
}

#inspiration iframe {
  margin: 0;
  width: 100%;
  aspect-ratio: 560/315;

  border-radius: 1rem;
}

/* current-target */
#current-target ul {
  margin-top: 1rem;
  padding: 0;

  display: flex;
  justify-content: space-between;
  gap: 2rem;

  list-style-type: none;
}

#current-target li {
  margin-top: 2rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 0.75rem;
}

#current-target li:nth-child(1) {
  background-color: rgba(255, 99, 30, 0.2);
}

#current-target li:nth-child(2) {
  background-color: rgba(13, 109, 245, 0.2);
}

#current-target li:nth-child(3) {
  background-color: rgba(255, 223, 0, 0.2);
}

#current-target li img {
  width: 56px;
  margin-bottom: 1rem;
}

#current-target li a {
  color: #21212e;
  font-family: Play, sans-serif;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}
