@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500&display=swap");

/* global modifications */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, "Noto Sans", Arial, sans-serif;
}

.text-roboto {
  font-family: Roboto, sans-serif;
}

.text-play {
  font-family: Play, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 1rem auto;
  width: clamp(320px, 80%, 1280px);
}

.logo {
  font-family: Play, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #222;
}

.logo span {
  color: #4c4ff1;
}

/* Navbar */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  padding: 0.5rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
}

nav a.download {
  color: #2a2a44;

  display: flex;
  height: 100%;
  padding: 0.5rem 1.5rem;
  border: 1px solid #222;
  border-radius: 0.5rem;

  font-weight: bold;
}

/* Hero section */
#hero {
  padding: 6rem 0 2rem;

  background-image: url(/assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .container {
  width: clamp(320px, 80%, 600px);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  text-align: center;
}

#hero img {
  width: 242px;
  height: 240px;
  margin: 0 auto;
}

#hero h2 {
  font-size: 2rem;
}

#hero p {
  width: 80%;
  margin: 0 auto;

  color: #434352;
}

#hero button {
  width: max-content;
  margin: 0 auto;
  padding: 0.75rem 1rem;

  background-color: #21212e;
  color: #fff;

  font-size: 1rem;
  font-weight: 500;

  border: none;
  outline: none;
  border-radius: 0.5rem;
}
